@media (max-width: 575.98px) {
    footer div a{
        margin: 5px 5px !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    footer div a{
        margin: 5px 8px !important;
    }
}
#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}


footer div a{
    margin: 5px 15px;
}
